@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

/* Paleta de colores a implementar */
/* #101a49 -> azul oscuro - botones*/

/* Estilo para cualquier texto seleccionado */
::selection {
  background: #d6672d; /* Color de fondo */
  color: white; /* Color del texto */
}

/* Para navegadores WebKit (Chrome, Safari) */
::-moz-selection {
  background: #d6672d;
  color: white;
}
